body {
  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
  background-color: #ddd;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

header {
  text-align: center;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
  text-decoration: none;
  color: rgb(140, 76, 8);
}

.menu a:active,
.menu a:hover {
    background-color: rgb(140, 76, 8);
    color: white;
}

.menu a:hover {
  text-decoration: underline;
}

main {
  background-color: white;
  color: #444;
  padding: 1% 5%;
}

form > fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

form > fieldset > legend {
  margin-top: 15px;
  color: rgb(140, 76, 8);
}

form button {
  margin-top: 1%;
  border: 0;
  border-radius: 5px;
  background-color: rgb(140, 76, 8);
  color: white;
  padding: 10px;
}

form button:hover{
  background-color: rgba(140, 76, 8, 0.9);
  cursor: pointer;
}

h1, h2 {
  font-weight: 500;
  color: rgb(140, 76, 8);
}

input:valid + span::after {
  content:'✔';
  color: green;
}

input:invalid + span::after {
  content:'✖';
  color: red;
}

#infoArea {
  display: flex;
  flex-direction: column;
}

footer > address {
  text-align: center;
}