#galeria-body {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3em;
  background-color: #ddd;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

#galeria-title {
  padding: 3%;
  margin: 0.67em 0;
}

#galeria-nav,
#galeria-title,
#galeria-address {
  color: white;
  background-color: #444;
  border-radius: 10px;
}

#galeria-nav li a {
  color: white;
}

#galeria-main {
  background-color: white;
  padding: 3% 5%;
  margin: 10px 0;
  border-radius: 10px;
}

#article-galeria {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabela-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.tabela-galeria img {
  flex: 1;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

@media (max-width: 600px) {
  #home-main, #galeria-body{
    width: 95%;
  }
}

h2 {
  color: #444;
}

h1 {
  text-align: center;
}

address {
  text-align: center;
  padding: 10px;
}
