body {
  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
  background-color: #ddd;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

header {
  text-align: center;
}

.menu ul {
  background-color: white;
}

li:first-child {
  background-color: lightsalmon;
}

p:first-of-type {
  color: #9c0362;
}

div:has(label) {
  color: #9c0362;
}

.menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #9c0362;
}

.menu a:active,
.menu a:hover {
    background-color: #9c0362;
    color: white;
}

.menu a:hover {
  text-decoration: underline;
}

main {
  background-color: white;
  color: #444;
  padding: 1% 5%;
}

section :is(h2, h3) {
  color: #9c0362;
}

form > fieldset {
  margin-top: 15px;
}

form button {
  margin-top: 1%;
  border: 0;
  border-radius: 5px;
  background-color: #9c0362;
  color: white;
  padding: 10px;
}

form button:hover{
  background-color: rgba(140, 76, 8, 0.9);
  cursor: pointer;
}

fieldset div {
  margin-bottom: 15px;
}

fieldset > legend {
  margin-top: 15px;
  font-weight: bold;
  color: #9c0362;
}

h3 + p {
  background-color: lightsalmon;
  color: #9c0362;
}

#estado {
  border: 0;
  background-color: #9c0362;
  color: white;
}

input:valid + span::after {
  content:'✔';
  color: green;
}

input:invalid + span::after {
  content:'✖';
  color: red;
}

footer > address {
  text-align: center;
}